[submodule "configloaderkt"]
	path = ConfigLoaderKT
	url = https://github.com/HCL-HO/configloaderkt.git
	branch = master
[submodule "EHKtDBHelper"]
	path = com/eh/kotlin/ehktdbhelper
	url = https://github.com/HCL-HO/EHKtDBHelper.git
	branch = master
[submodule "EHKtCommandHelper"]
	path = com/eh/kotlin/commandhelperkt
	url = https://github.com/HCL-HO/EHKtCommandHelper.git
	branch = master
